body{
    margin: 0;
}

ul{
    list-style: none;
}

.top_nav{
    background-color: #002D62;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 2%;
}
.flag{
    margin-left: 45%;
    font-size: 10px;
}
.center p {
    text-align: center;
}
.icons i{
    font-size: 38px;
    margin: 0 5px;
}
.icons{
    text-align: center;
}
.facebook{
    color: #3C5A99;
}
.icons i:hover{
    color: white;
}
.telegram{
    color: #38A1F3;
}
.instagram{
    color: #C8232C;
}
.select{
    background-color: #002D62;
    color: white;
    border: none;
    margin: 0 30px;
    font-size: 13px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 1%;
}

.left_img img{
    width: 140px;
    height: 50px;
}

.top_list{
    display: flex;
}

.top_list li a{
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;
}
.top_list li{
    margin: 0 20px;
    position: relative;
}
.top_list li::before{
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    background: black;
    transition: 1s;
    bottom: 0;
    left: 0;
}
.top_list li:hover:before{
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    background:black ;
    bottom: 0;
    right: 0;
}
.icon_right{
    font-size: 18px;
}
.icon_right i{
    margin: 0 8px;
}


.banner{
    width: 100%;
    height: 100vh;
    animation: slider 5s ease-in infinite;
}
@keyframes slider{
    0% , 100%{
        background: url(https://posudavsem.uz/modules/tvcmsslider/views/img/f199b57dc41669d6fd56_1.jpg) center / cover;
    }40%{
        background: url(https://posudavsem.uz/modules/tvcmsslider/views/img/5d6f92773244d6825dcb_5.jpg) center / cover;
    }80%{
        background: url(https://posudavsem.uz/modules/tvcmsslider/views/img/3e9c67655b1341d5e81d_4.jpg) center / cover;
    }
}

.burgerMenu{
    display: none;
}

@media screen and (max-width:957px) {
    .left{
        display: none;
    }.right{
        display: none;
    }.center i{
        display: none;
    }.center{
        margin: auto;
    }.center_list{
        display: none;
    }.burgerMenu{
        display: block;
    }.icon_right{
        display: flex;
    }.banner{
        height: 50vh;
    }.p{
        display: flex;
    }
}
@media screen and (max-width:644px) {
    .p{
        display: block;
    }
}
@media screen and (max-width:500px) {
    .banner{
        height: 25vh;
    }
}

.main_h1 h1{
    text-align: center;
    font-size: 35px;
}
.main_h1 hr{
    color: black;
    width: 10%;
}
.buttons{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.buttons button{
    margin: 0 20px;
    border: none;
    padding: 15px 35px;
    font-size: 20px;
}
.buttons button:nth-child(1){
    background-color:  #002D62;
    color: white;
}
.buttons button:nth-child(2){
    background-color: white;
    color: black;
    transition: 0.5s;
}
.buttons button:nth-child(2):hover{
    background-color: #002D62;
    color: white;
}

.row{
    display: flex;
    justify-content: space-between;

}
.card{
    margin: 10px 20px;
}
.card img{
    width: 300px;
    height: 300px;
}
.card:hover{
    box-shadow: 0px 0px 10px 3px  rgb(226, 223, 223);
}

.p1{
    color: #666666;
}
.p1:hover{
    color: black;
}
.card p{
    text-align: center;
}
.arrows{
    display: flex;
    justify-content: center;
}
.arrows button{
    background-color: #222;
    color: white;
    border: 0;
    padding: 9px 12px;
    font-size: 15px;
    margin: 0 10px;
    transition: 0.5s;
}
.arrows button:hover{
    background-color: #002D62;
}

.main_images{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}
.main_images img{
    width: 600px;
    height: 400px;
    transition: 0.5s;
}
.main_images img:hover{
    width: 620px;
    height: 410px;
}


.row{
    flex-wrap: wrap;
}

@media screen and (max-width:1300px) {
    .main_images{
        flex-wrap: wrap;
        padding: 20px 10px;
    }
}
@media screen and (max-width:997px) {
    .main_images{
        margin-left: 180px;
    }
}
.bottom_slides{
    display: flex;
    justify-content: space-between;
    margin: 150px;
    margin-bottom: 20px;
}
@media screen and (max-width:772px) {
    .row{
        margin-left: 200px;
    }
    .main_h1 hr{
        width: 20%;
    }
    .main_images{
        margin-left: 100px;
    }
}

.bottom_slides div{
    width: 200px;
    height: 15vh;
    margin-bottom: 30px;
}
.bottom_slides div img{
    width: 100%;
    height: 100%;
}
@media screen and (max-width:997px) {
    .bottom_slides{
        margin-top: 10px;
    }
}
.bottom_part{
    width: 100%;
    background-color: #002D62;
    padding-bottom: 10px;
}
.bottom_part h1{
    text-align: center;
    padding-top: 20px;
    font-size: 35px;
    color: white;
    font-weight: lighter;
}
.bottom_part hr{
    color: white;
    width: 10%;
}

.email{
    display: block;
    width: 100%;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 20px;
}

.email input{
    padding: 7px 10px;
    padding-right: 150px;
    margin-left: 40%;
}
.email button{
    padding: 9px 10px;
    margin-left: -5px;
    cursor: pointer;
    border: 0;
    background-color: gray;
    color: #002D62;
    transition: .4s;
    text-transform: uppercase;
}
.email button:hover{
    background-color: black;
    color: white;
}
@media screen and (max-width:997px) {
    .email input{
        margin-left: 32%;
    }
    .bottom_part hr{
        width: 20%;
    }
}
@media screen and (max-width:1245px) {
    .footer_list{
        flex-wrap: wrap;
    }
}
@media screen and (max-width:1077px) {
    .email input{
        margin-left: 28%;
    }
    .main_images{
        margin-left: 250px;
    }

}
@media screen and (max-width:997px) {
    .footer_list{
        margin-left: -30px;
    }
}
@media screen and (max-width:880px) {
    .main_images{
        margin-left: 150px;
    }
}
@media screen and (max-width:700px) {
    .main_images{
        margin-left: 100px;
    }
    .row{
        margin-left: 150px;
    }
}
@media screen and (max-width:690px) {
    .main_images{
        margin-left: 30px;
    }
}
@media  screen and (max-width:680px) {
    .email input{
        padding-right: 100px;
        margin-left: 20%;
    }
    .add_footer_list{
        display: none;
    }
}
@media screen and (max-width:649px) {
    .row{
        margin-left: 150px;
    }
}
@media screen and (max-width:614px) {
    .main_images{
        margin-left: 0;
    }
    .row{
        margin-left: 100px;
    }
}
@media screen and (max-width:370px) {
    .email input{
        padding-right: 60px;
        margin-left: 2%;
    }
}
@media screen and (max-width:350px) {
    .row{
        margin-left: 0;
    }
}
.footer_list{
    display: flex;
    list-style: none;
}
.footer_list li{
    margin-left: 140px;
}
.footer_list li a{
    color: white;
    font-size: 27px;
    text-decoration: none;
}
.add_footer_list{
    list-style: none;
    margin-left: -176px;
}
.add_footer_list li{
    padding: 5px 0;
}
.add_footer_list li a{
    font-size: 20px;
    text-decoration: none;
    color: rgb(189, 187, 187);
}
.footer_list li a:hover{
    text-decoration: underline;
    color: white;
}